.skillSection{
    display: grid;
    grid-template-rows: 90% 10%;
    text-align: center;
    justify-items: center;
    margin: 4% 1.5%;
    align-self: baseline;
    position: relative;
}

.imgSection{
    height: 300px;
    width: auto;
    align-self: center;
    justify-content: center;
}

.textSection{
    margin: 15% 0%;
    font-size: 30px;
    text-align: center;
    align-self: baseline;
    justify-self: center;
    top: 0%;
}

@media screen and (max-width: 500px) {
    .skillSection{
        justify-content: center;
        margin: 15%;
    }

    .imgSection{
        height: 100px;
    }
    
    .textSection{
        font-size: 17px;
    }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
    .skillSection{
        margin: 5%;
    }

    .imgSection{
        height: 120px;
    }
    
    .textSection{
        font-size: 18px;
    }
}

@media screen and (min-width: 751px) and (max-width: 900px) {
    .skillSection{
        margin: 5%;
    }

    .imgSection{
        height: 120px;
    }
    
    .textSection{
        font-size: 18px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    .skillSection{
        margin: 5%;
    }

    .imgSection{
        height: 140px;
    }
    
    .textSection{
        font-size: 18px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
    .skillSection{
        margin: 5%;
    }

    .imgSection{
        height: 180px;
    }
    
    .textSection{
        font-size: 18px;
    }
}